<!DOCTYPE html>
<html>
  <head>
    <title>Acceso Denegado</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #024f92;
      }
      h1 {
        font-family: Comic Sans MS, sans-serif;
        color: #ffffff;
        font-size: 5rem;
        text-align: center;
        margin: 0;
        display: block;
      }

      p {
        font-family: Comic Sans MS, sans-serif;
        color: #ffffff;
        font-size: 2rem;
        text-align: center;
        margin: 0;
        display: block;
      }

      a {
        font-family: Comic Sans MS, sans-serif;
        color: #ffffff;
        font-size: 2rem;
        text-align: center;
        margin: 0;
        display: block;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>404</h1>
      <h1>Acceso Denegado</h1>
      <center>
        <p>No tienes permiso para acceder a esta ruta</p>
        <a href="/">Ir al inicio</a>
      </center>
    </div>
  </body>
</html>
