<!DOCTYPE html>
<html>
  <head>
    <title>Administracion</title>
    <link rel="stylesheet" type="text/css" href="estilos/estilos.css" />
    <link rel="stylesheet" type="text/css" href="icons/css/all.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="javascript:history.back()">
            <i class="fa fa-chevron-left"></i> Volver</a
          >
        </li>
        <li>
          <a href="/"> <i class="fa fa-home"></i> Inicio</a>
        </li>
        <li>
          <a href="/asignaciones"> <i class="fa fa-ticket"></i> Asignaciones</a>
        </li>
        <li>
          <a href="/mantenimientos"
            ><i class="fa fa-wrench"></i> Mantenimientos</a
          >
        </li>
        <% if(user.rol === "admin") { %>
        <li>
          <a href="/administracion">
            <i class="fa fa-tachometer"></i> administracion</a
          >
        </li>
        <% } %>
        <li>
          <a href="/logout"><i class="fa fa-right-from-bracket"></i> Salir</a>
        </li>
      </ul>
    </nav>
    <div class="contenedor">
      <h1 class="text-center">Administracion</h1>
      <div class="form-group border-form">
        <h2>Sistema de reporte de mantenimiento Clínica Central</h2>
        <button onclick="registro()" class="btn">Registrar usuario</button>
        <button onclick="asignacion()" class="btn">
          Ver asignacion de trabajos(modo edicion)
        </button>

        <button onclick="indicadores()" class="btn">Indicadores</button>
      </div>
    </div>
    <script>
      function registro() {
        window.location.href = "/registrar";
      }
      function asignacion() {
        window.location.href = "/asignacion";
      }

      function indicadores() {
        window.location.href = "/indicadores";
      }
    </script>
  </body>
</html>
